.user-data-display {
    background-color: #000;
}

.user-label-value {
    padding: 10px;
    color: #fff;
    font-size: 20px;
}

.display-ip-data-btn {
    margin-top: 20px;
    font-size: 20px;
    font-family: cursive;
    margin-bottom: 20px;
}

.ip-details {
    margin-bottom: 10px;
}


